# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
build/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Superpowers
.superpowers/
